<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>dom</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/dom/styles.css">
        <script src="/dom/index.js" async defer></script>
    </head>
    <body>
       
      <p class="text">USE THE ARROW KEYS TO CONTROL</p>
      <svg width="1400px" height="700px" class="area">
        <rect id="object1" x="10" y="10" width="100" height="100" fill="black"/>
        <rect id="object2" x="600" y="350" width="100" height="100" fill="red" />
        <rect id="object3" x="1250" y="550" width="100" height="100" fill="yellow" />

      </svg>

  <script>refreshPosition();</script>
        
        
    </body>
</html>